server:
  port: 8090

spring:
  application:
    name: resource-server

  data:
    web:
      pageable:
        serialization-mode: via_dto

  sql:
    init:
      mode: always

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9000/oauth2/jwks

  web:
    resources:
      add-mappings: false

#  Is this working if web.resources.add-mappings is false?
#  mvc:
#    problemdetails:
#      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    org.springframework.security: trace
#    org.springframework.data: trace
#    org.springframework.web: trace