server:
  port: 9000

spring:
  application:
    name: authorization-server

  sql:
    init:
      mode: always

  security:
    oauth2:
      authorizationserver:
        client:
          messaging-client:
            registration:
              client-id: "messaging-client"
              client-secret: "{noop}secret"
              client-authentication-methods:
                - "client_secret_basic"
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "http://127.0.0.1:8080/login/oauth2/code/messaging-client-oidc"
                - "http://127.0.0.1:8080/authorized"
              post-logout-redirect-uris:
                - "http://127.0.0.1:8080/logged-out"
              scopes:
                - "openid"
                - "profile"
                - "message:read"
                - "message:write"
            require-authorization-consent: true

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    org.springframework.security: trace
    org.springframework.web: trace